html, body, #map {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	background-color: #FFF;
	overflow: hidden;
	font-family: "Trebuchet MS";
}
#nextGenerationButton {
	position: fixed;
	top: 20px;
	left: 75px;
	z-index: 100;
	font-family: Arial;
	color: #313131;
	font-size: 20px;
	padding: 10px;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 1px 2px #666666;
	-moz-box-shadow: 0px 1px 2px #666666;
	box-shadow: 0px 1px 2px #666666;
	text-shadow: 1px 1px 1px #adadad;
	border: solid #7f6060 2px;
	background: #ff7f7f;
}
#nextGenerationButton:hover {
	top: 21px;
	background: #ffa9a9;
}

#authorLink {
	position: fixed;
	bottom: 20px;
	left: 75px;
	z-index: 100;
	font-family: Arial;
	color: #1f1f1f;
	font-size: 15px;
	padding: 10px;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 1px 2px #666666;
	-moz-box-shadow: 0px 1px 2px #666666;
	box-shadow: 0px 1px 2px #666666;
	text-shadow: 1px 1px 1px #1fff1f;
	border: solid #607f60 2px;
	background: #7fff7f;
}
#authorLink:hover {
	bottom: 19px;
	background: #a9ffa9;
}